<!------------------------ Footer -------------------------->
    <div id="footer">
      <div class="footer-widget">
        <div class="footer-text">
          <div class="container">
            <p>Designed and Developed by <a href="">Montprellier Team </a> from The Hacking Project</p>
         </div>
        </div>
      </div>
    </div>
<!------------- End-Footer ----------------->