<div id="bgShow">
    <div class="container">
    <!-- Portfolio Item Heading -->
        <h2 class="my-4"><%= @item_id.title %></h2>
        <br>
        <br>
        <section id="plans">
            <div class="container">
                <div class="row" id="cardProduct">
                    <!-- item -->
                    <div class="col-md-4 text-center">
                        <div class="panel panel-success panel-pricing">
                            <div class="panel-heading">
                                <h3> <%= image_tag(@item_id.image , id:"mainImage", alt: "") %></h3>
                            </div>
                            <div class="panel-body text-center">
                                <p><strong>$<%=@item_id.price%></strong></p>
                            </div>
                            <ul class="list-group text-center">
                                <li class="list-group-item">
                                Utilisation personnelle
                                </li>
                                <li class="list-group-item">
                                    <%= @item_id.description %>
                                </li>
                                <li class="list-group-item">
                                27/7 support
                                </li>
                            </ul>
                            <div class="panel-footer">
                                <a class="btn btn-lg btn-block btn-success" href="#">BUY NOW!</a>
                            </div>
                        </div>
                    </div>
                        <!-- /item -->
                </div>
            </div>
        </section>
    <!-- /Plans -->
    </div>
        <!-- /.container -->
</div>