<h1>Votre vie manque cruellement de poisson</h1>
<a href="">Voici un site génial pour commander des poissons</a>

<p><%= link_to "buy fich now!", content_url(@content, host: "http//addresseDuSite.fr")%></p>